html {
    font-family: 'Nunito', sans-serif;
    background-color: #012E40;
    width:100% !important; 
}
.nav-names {
    list-style: none;
    margin-top: 20px;
    width: 50%;
    padding-left: 500px;
   
       
}
.nav-names li {
    display: inline-block;
    padding: 15px; 
  

}
.inline-block {
    display: inline-block;
    vertical-align: top;
    list-style: none;

}
.logo {
    padding: 1%;
    float: left;
    vertical-align: center;
    width: 23%;
      
}
nav {
    width: 73%;
    padding: 1%;
    vertical-align: center;

}
ul {
    width: 50%;
    margin-left: auto;
    display: inline-block;
    list-style-type: none;
    
}

.content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
#navFooter {
    display: inline-block;
    vertical-align: bottom;
    
}

.navigation {
    vertical-align: center;
    /* outline: 1px solid red; */
}
.footer-names {
    list-style: none;
    margin-top: 20px;
}
    
.footer-names li {
    display: inline-block;
    padding: 15px; 
    
   
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
    
 }
 
 .skillsHead{
     text-align: center;
     background: #3CA6A6;
 }
.skill1 {
     width: 28%;
    
  }
.skill2 {
    width: 28%;
}
.skill3 {
    width: 28%;
}
.mySkills {
    align-items: center;
    background-color: #3CA6A6;
    color: white; 
}
.icon {
    text-align: center;
    color: #012E40; 
}
.mySkills h3 {
    text-align: center;

}
.mySkills p {
    text-align: center;
}
body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

#myWorkGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: 
    "myheading"
    "project1"
    "project2"
    "project3";
}
.myWorkGridArea {
    align-items: center;
}

.projectGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas: "image text";
}

#header {
    grid-area: myheading;
    padding-top: 30px;
    text-align: center;
}

#firstProject {
    grid-area: project1;
}

#secondProject {
    grid-area: project2;
}

#thirdProject {
    grid-area: project3;
}

.image {
    
    grid-area: image;
    padding: 50px;
}

.image img {
    width: 100%;
    border-radius: 15px;
}


.text {
    grid-area: text;
}
.myPicture {
    width:100%;
}
a:link {
    text-decoration: none;
      }

html {
    scroll-behavior: smooth;
    color: white; 
  }
h1 {
    color: white;
}
a:hover {
color: #3CA6A6; 
}
a {
    color: white;
}
button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding:0; 
    background-color: transparent;
    color: white;
}
button:hover {
    color: #3CA6A6; 
}
.scallop-up{
    height:100px;
    width:100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#3CA6A6), color-stop(0.49, #3CA6A6), color-stop(0.51, #012E40), to(#012E40));
  -webkit-background-size: 49px 100%;
  }
  .scallop-down{
    height:100px;
    width:100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#3CA6A6), color-stop(0.49, #3CA6A6), color-stop(0.51, #012E40), to(#012E40));
  -webkit-background-size: 49px 100%;
  } 
  footer {
    text-align: center;
  }
  footer a {
      color: white;
  }

  #heroImgGrid {
    display: grid;
    grid-template-columns: 1fr, 60px;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
    "profileImg intro";
}
.heroImgArea {
    align-items: center;
}
#aboutMe {
    grid-area: intro;
}
#profileImg {
    grid-area: profileImg; 
}
